<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table border='1'>
    <% for(var invent of inventorsdata) {%>
   <tr>
     <td>
       <%= invent.first%>
     </td>
       <td>
       <%= invent.last%>
     </td>
       <td>
       <%= invent.year%>
     </td>
   </tr>
    <% } %>
    </table>
  </body>
</html>
